* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
input,
button {
  font-size: 62.5%;
  font-family: "Josefin Sans", sans-serif;
}

$main: #f2f0dd;
$accent: #bfd1ab;
$complementary: #7f9c5d;

@mixin glass-box {
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.4px);
  -webkit-backdrop-filter: blur(6.4px);
  // border: 1px solid rgba(242, 240, 221, 0.29);
}

body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    159deg,
    rgba(198, 213, 178, 1) 4%,
    rgba(242, 240, 221, 0.7492795389048992) 98%
  );
}
.main-container {
  width: 35rem;
  height: 60rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // display: flex;
  // flex-direction: column;
  // flex-wrap: wrap;
  // justify-content: center;
  padding: 2rem;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.6);
  @include glass-box;
  * {
    font-size: 2.5rem;
  }
}
.title {
  text-align: center;
  font-size: 4rem;
  margin-top: 4rem;
}
.calc-container {
  height: 75%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 2rem;
  > div {
    padding: 1rem;
  }
}
.input-container {
  width: 100%;
  height: fit-content;
  > div {
    margin-bottom: 3rem;
  }
}

#bill-input,
#people-input {
  width: 12rem;
  background-color: $complementary;
  border: none;
  border-radius: 20px;
  padding: 1rem;
  text-align: center;
}

.inline {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tip-container {
  p {
    margin-bottom: 1rem;
  }
}

.grid {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-gap: 1rem 1rem;
  position: relative;
}
.percent-icon {
  position: absolute;
  height: 2.2rem;
  right: 1rem;
  bottom: 1rem;
}

button,
.custom {
  background-color: $accent;
  padding: 1rem;
  border: none;
}
.selected {
  background-color: $complementary;
}
::placeholder {
  color: #000;
  font-size: 1.4rem;
}

.totals-container {
  background-color: $accent;
  @include glass-box;
  width: 100%;
  height: fit-content;
}
.results-container {
  padding: 1rem;
}
.result {
  padding: 0 0;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}
.reset-container {
  text-align: center;
}
.reset {
  background-color: $complementary;
  border: none;
  padding: 1rem;
  width: 5rem;
}
.reset:hover {
  background-color: $main;
}
.reset:active {
  transform: scale(0.9);
  box-shadow: 0 0 9rem 0.2rem black;
}
.rest-icon {
  height: 100%;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
