* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
input,
button {
  font-size: 62.5%;
  font-family: "Josefin Sans", sans-serif;
}

$main: #f2f0dd;
$accent: #bfd1ab;
$complementary: #7f9c5d;

@mixin glass-box {
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.4px);
  -webkit-backdrop-filter: blur(6.4px);
  // border: 1px solid rgba(242, 240, 221, 0.29);
}

body {
  width: 100vw;
  height: 100vh;
  background: rgb(198, 213, 178);
  background: linear-gradient(
    159deg,
    rgba(198, 213, 178, 1) 4%,
    rgba(242, 240, 221, 0.7492795389048992) 98%
  );
}
.main-container {
  width: 35rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  padding: 2rem;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.6);
  @include glass-box;
  * {
    font-size: 1.8rem;
  }
}
.title {
  text-align: center;
  font-size: 3rem;
}
.calc-container {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  > div {
    padding: 1rem;
  }
}
.input-container {
  width: 100%;
  height: 100%;
  > div {
    margin-top: 1rem;
  }
}

#bill-input,
#people-input {
  width: 10rem;
  background-color: $complementary;
  border: none;
  border-radius: 20px;
  padding: 0.5rem;
  text-align: center;
}

.inline {
  // background-color: red;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.totals-container {
  background-color: $accent;
  @include glass-box;
  width: 100%;
  height: 100%;
}

.selected {
  background-color: $complementary;
}

button {
  text-align: center;
  background-color: $accent;
  padding: 0.5rem;
  border: none;
}
.grid {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-gap: 1rem 1rem;
}

.result {
  padding: 0 2.5rem;
  display: flex;
  justify-content: space-between;
}
.reset-container {
  text-align: center;
  margin-top: 1rem;
}
.reset {
  background-color: $complementary;
  border: none;
  padding: 1rem;
}
.reset:hover {
  background-color: $main;
}
.reset:active {
  transform: scale(0.9);
  box-shadow: 0 0 9rem 0.2rem black;
}
