* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
.tip-container * {
  font-size: 62.5%;
  font-family: "Nova Mono", monospace;
}

$main: #f2f0dd;
$accent: #bfd1ab;
$complementary: #85d9d7;

@mixin glass-box {
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.4px);
  -webkit-backdrop-filter: blur(6.4px);
  // border: 1px solid rgba(242, 240, 221, 0.29);
}

body {
  width: 100vw;
  height: 100vh;
  background: rgb(198, 213, 178);
  background: linear-gradient(
    159deg,
    rgba(198, 213, 178, 1) 4%,
    rgba(242, 240, 221, 0.7492795389048992) 98%
  );
}
.main-container {
  width: 35rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  padding: 2rem;
  border-radius: 1rem;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.6);
  @include glass-box;
  * {
    font-size: 1.8rem;
  }
}
.title {
  text-align: center;
  font-size: 3rem;
}
.calc-container {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  > div {
    padding: 1rem;
  }
}
.input-container {
  width: 100%;
  height: 100%;
}
.totals-container {
  background-color: $accent;
  @include glass-box;
  width: 100%;
  height: 100%;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1rem 1rem;
  :hover,
  :active,
  :focus {
    background-color: $complementary;
  }
  button {
    text-align: center;
    background-color: $accent;
    padding: 0.5rem;
    border: none;
  }
}
.result {
  display: flex;
  justify-content: space-between;
}

.reset {
  background-color: $complementary;
  border: none;
  padding: 1rem;
}
